@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Sed nec elit vestibulum, <b>tincidunt orci</b> et, sagittis ex. Vestibulum rutrum <b>neque suscipit</b> ante mattis maximus. Nulla non sapien <b>viverra, lobortis lorem non</b>, accumsan metus.</p>
</div>
